/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/data/*sql*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea/
.vagrant

/var/cache/*
/var/log/*

bower_components
/node_modules
npm-debug.log*
/web/css
/web/images/sprite.svg
/web/js
/web/partials
/web/fonts
npm-debug.log
.sass-cache

.DS_Store
