/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/var/logs/*
/app/data/*sql*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/.idea/
.vagrant

/var/cache/*
/var/log/*

bower_components
/node_modules
npm-debug.log*
/web/css
/web/images/sprite.svg
/web/js/app.js
/web/js/jquery.min.js
/web/js/jquery-ui.min.js
/web/partials
/web/fonts
npm-debug.log
.sass-cache

.DS_Store

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
