<pp-navbar active-item="'album-editor'"></pp-navbar>

<div class="container album-editor" ng-controller="AlbumEditorController as ae">
    <div class="row">
        <div class="col-sm-3">
            <label>Album</label>
            <input type="text"
                   class="form-control input-sm"
                   ng-model="ae.album.value">
        </div>
        <pp-editor-field
            columns="3"
            field="ae.album.artist"
            type="'artist'"
            change="ae.defaultValueChanged">
        </pp-editor-field>
        <pp-editor-field
            columns="3"
            field="ae.album.label"
            type="'label'"
            change="ae.defaultValueChanged">
        </pp-editor-field>
        <pp-editor-field
            columns="3"
            field="ae.album.year"
            type="'year'"
            change="ae.defaultValueChanged">
        </pp-editor-field>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>

    <div class="row track" ng-repeat="track in ae.album.tracks">
        <div class="col-sm-3" ng-repeat="field in ae.trackFields">
            <input type="text"
                   class="form-control input-sm"
                   ng-model="track[field]"
                   ng-disabled="ae.album[field].copy">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary btn-lg"
                    ng-click="ae.addTrack()">
                Add track
            </button>
        </div>
    </div>
</div>
