<pp-navbar active-item="'playlist'"></pp-navbar>

<div class="container playlist" ng-controller="PlaylistController as pl">
    <div class="playlist-form">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="playlist">Playlist</label>
                    <select id="playlist"
                            class="form-control"
                            ng-model="pl.trackList.id"
                            ng-change="pl.selectTrackList()">
                        <option value="-1" ng-bind="'(Create new)'" ng-selected="-1 === pl.trackList.id"></option>
                        <option ng-repeat="trackList in pl.trackLists"
                                value="{{trackList.id}}"
                                ng-bind="trackList.date + ' - ' + trackList.name"
                                ng-selected="pl.trackList.id === trackList.id"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group playlist-date">
                    <label class="control-label" for="playlist-date">Date</label>
                    <input id="playlist-date"
                        type="text"
                        class="form-control"
                        ng-model="pl.trackList.date"
                        ng-required="true"
                        ng-focus="pl.datepicker.open()"
                        is-open="pl.datepicker.opened"
                        uib-datepicker-popup="{{pl.datepicker.format}}"
                        uib-datepicker-options="pl.datepicker.options"
                        close-text="Close" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="playlist-term">Time</label>
                    <select id="playlist-term"
                            class="form-control"
                            ng-model="pl.trackList.termId"
                            ng-options="term.id as (term.name + ' - ' + term.time) group by term.group for term in pl.terms">
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group playlist-name">
                    <label class="control-label" for="playlist-name">Name</label>
                    <input id="playlist-name"
                        type="text"
                        class="form-control"
                        ng-model="pl.trackList.name"
                        ng-required="true" />
                </div>
            </div>
        </div>
    </div>

    <div class="printable-metadata">
        <strong>Datum:</strong> {{ pl.printMetadata.date }} <br>
        <strong>Termin:</strong> {{ pl.printMetadata.term }} <br>
        <strong>Avtor:</strong> {{ pl.printMetadata.author }} <br>
        <strong>Trajanje:</strong> {{ pl.printMetadata.duration }} <br>
    </div>

    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th class="column-number">#</td>
                <th class="column-fid">FID</td>
                <th class="column-artist">Artist</th>
                <th class="column-title">Title</th>
                <th class="column-album">Album</th>
                <th class="column-year">Year</th>
                <th class="column-length">Length</th>
                <th class="column-buttons">PL</th>
            </tr>
        </thead>
        <tbody ui-sortable ng-model="pl.trackList.tracks">
            <tr ng-repeat="track in pl.trackList.tracks" ng-class="{ 'has-comment' : (track|hasComment) }">
                <td class="column-number">{{$index + 1}}.</td>
                <td ng-bind="track.fid" class="column-fid"></td>
                <td ng-bind="track.artistName" class="column-artist"></td>
                <td ng-bind="track.name" class="column-title"></td>
                <td ng-bind="track.albumName" class="column-album"></td>
                <td ng-bind="track.year" class="column-year"></td>
                <td ng-bind="track.duration | duration" class="column-length"></td>
                <td class="column-buttons">
                    <span ng-show="!(track|hasComment)" ng-click="pl.trackList.addCommentToTrack(track)" class="glyphicon glyphicon-pencil"></span>
                    <span ng-show="track|hasComment" ng-click="pl.trackList.removeCommentFromTrack(track)" class="glyphicon glyphicon-trash"></span>
                    <span ng-click="pl.trackList.toggleTrack(track)" class="glyphicon glyphicon-minus-sign"></span>
                </td>
                <td class="fake-comment-row">
                    <input type="text" ng-model="track.comment">
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-12 action-buttons">
            <div class="save-button btn btn-success btn-lg"
                 ng-click="pl.save()">
                 Save
             </div>
             <span ng-show="pl.loaders.save" class="glyphicon glyphicon-refresh loader"></span>
        </div>
    </div>

    <uib-progressbar max="3600 * 4" value="pl.totalDuration">{{pl.totalDuration | duration}}</uib-progressbar>
</div>
