<pp-navbar active-item="'playlist'"></pp-navbar>

<div class="container playlist" ng-controller="PlaylistCtrl as pl">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label class="control-label" for="playlist">Playlist</label>
                <select id="playlist"
                        class="form-control"
                        ng-model="pl.trackList.list.id"
                        ng-change="pl.selectTrackList()">
                    <option value="-1" ng-bind="'(Create new)'"></option>
                    <option ng-repeat="trackList in pl.trackLists"
                            value="{{trackList.id}}"
                            ng-bind="trackList.date + ' - ' + trackList.name"
                            ng-selected="trackList.id === pl.trackList.list.id"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group playlist-date">
                <label class="control-label" for="playlist-date">Date</label>
                <input id="playlist-date"
                       type="text"
                       class="form-control"
                       ng-model="pl.trackList.list.date"
                       ng-required="true"
                       ng-focus="pl.datepicker.open()"
                       is-open="pl.datepicker.opened"
                       datepicker-popup="{{pl.datepicker.format}}"
                       datepicker-options="pl.datepicker.options"
                       close-text="Close" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="playlist-term">Time</label>
                <select id="playlist-term"
                        class="form-control"
                        ng-model="pl.trackList.list.termId"
                        ng-options="term.id as (term.name + ' - ' + term.time) group by term.group for term in pl.terms">
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group playlist-name">
                <label class="control-label" for="playlist-name">Name</label>
                <input id="playlist-name"
                       type="text"
                       class="form-control"
                       ng-model="pl.trackList.list.name"
                       ng-required="true" />
            </div>
        </div>
    </div>


    <table class="table table-striped table-condensed table-hover">
        <tbody ui-sortable ng-model="pl.trackList.list.tracks">
            <tr ng-repeat="track in pl.trackList.list.tracks" ng-class="{ 'has-comment' : (track|hasComment) }">
                <td ng-bind="track.fid" class="column-fid"></td>
                <td ng-bind="track.artistName" class="column-artist"></td>
                <td ng-bind="track.name" class="column-track"></td>
                <td ng-bind="track.albumName" class="column-album"></td>
                <td ng-bind="track.year" class="column-year"></td>
                <td ng-bind="track.duration | duration" class="column-duration"></td>
                <td class="column-buttons">
                    <span ng-show="!(track|hasComment)" ng-click="pl.addComment(track)" class="glyphicon glyphicon-pencil"></span>
                    <span ng-show="track|hasComment" ng-click="pl.removeComment(track)" class="glyphicon glyphicon-trash"></span>
                    <span ng-click="pl.toggleTrackInPlaylist(track)" class="glyphicon glyphicon-minus-sign"></span>
                </td>
                <td class="fake-comment-row">
                    <input type="text" ng-model="track.comment">
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-12">
            <div class="btn btn-primary"
                 ng-click="pl.save()">Save</div>
        </div>
    </div>

    <progressbar max="3600 * 4" value="pl.totalDuration">{{pl.totalDuration | duration}}</progressbar>
</div>
