<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">PicaPica</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/#/search">Search <span class="sr-only">(current)</span></a></li>
                <li><a>Playlist</a></li>
                <li><a>Editor</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="input-group">
        <input ng-keyup="typeInInput($event)"
               type="text"
               class="form-control"
               placeholder="enter search term"
               ng-model="searchTerm"
               bs-options="artist.name for artist in getSuggestions($viewValue)"
               bs-typeahead>

        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="addTextFilter('replace')">Search</button>
            <button class="btn btn-default" ng-click="addTextFilter('add')">+</button>
        </span>
    </div>

    <br>

    <div class="filters">
        <div class="well well-sm filter-wrapper" ng-repeat="filter in filters">
            <h2 class="filter-label">{{ filter.label }}</h2>
            <span ng-click="filter.remove()" class="glyphicon glyphicon-remove filter-remove-icon" aria-hidden="true"></span>
            <label class="filter-type" ng-if="!filter.fromAutocomplete" ng-repeat="type in filter.types" ng-show="type.visible">
                <input type="checkbox" ng-model="type.active" ng-change="doSearch()"> {{ type.name }}
            </label>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Artist</th>
                <th>Title</th>
                <th>Album</th>
                <th>Year</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="track in tracks">
                <td ng-bind="track.fid"></td>
                <td ng-bind="track.artistName"></td>
                <td ng-bind="track.name"></td>
                <td ng-bind="track.albumName"></td>
                <td ng-bind="track.year"></td>
                <td ng-bind="track.duration | secondsToTime"></td>
            </tr>
        </tbody>
    </table>
</div>
