{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<div class="col-sm-6 col-sm-offset-3">
    <img src="images/magpie-large.svg" style="height: 250px; width: 100%; margin: 50px auto;"/>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="well">
        <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
            <legend>Login</legend>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <fieldset>
                <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-2 control-label">Password</label>
                    <div class="col-lg-10">
                        <input type="password" class="form-control" id="password" name="_password" required="required" />
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <input type="submit" id="_submit" name="_submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock fos_user_content %}
