.navbar-default .navbar-nav > li > a
    color: red

th.column-album
    color: pink

th.column-title
    color: orange
    
table th
    color: blue

#single-button
    color: red


nav navbar-nav a
    color: blue