.tracklist-sync
  width: 530px
  margin-left: auto
  margin-right: auto

  .track
    overflow: auto
    overflow-x: hidden
    margin-bottom: 3px
    font-size: 10px

    &:nth-child(even)
      background: #eee
      border-top: #ccc
      border-bottom: #ccc

    > div
      float: left
      word-break: break-word
      box-sizing: border-box
      padding-right: 5px

  .track-title
    width: 30%

  .track-artist
    width: 25%

  .track-album
    width: 25%

  .track-label
    width: 15%

  .track-duration
    width: 5%
    text-align: right
