@import bootstrap

// General
.form-control:focus
    border-color: #e7e7e7
    box-shadow: inset 0 2px 0 #e7e7e7, 0 0 3px #fff200

*:focus
    outline: none

.printable-metadata
    display: none

// Top navigation
.navbar-default
    background: #fff200
    border-color: #eee100

    .logo
        float: left
        width: 32px
        height: 32px
        margin: 15px 5px 0 0

// Table on search and playlist page
.table
    tr.selected
        background-color: #ccffcc!important

        &:nth-of-type(2n+1)
            background-color: #99ff99!important

        &:hover
          filter: brightness(95%)

    th[ng-click]
        cursor: pointer

    .column-fid
        white-space: nowrap
        width: 125px
    .column-year, .column-length, .column-buttons
        width: 60px
    .column-length, .column-buttons
        text-align: right
    .column-artist, .column-title, .column-album
        flex: 1

    .column-buttons > *
        cursor: pointer

        &.glyphicon-minus-sign
            color: #ff6666

    th
        white-space: nowrap

    tr
        display: flex

// Search results table
table.results
    margin-bottom: 20rem

// Search page
.search
    .dropdown-suggestion-text
        .glyphicon
            padding-right: 5px
        span span
            vertical-align: middle
        em
            font-style: normal
            font-weight: bold

    .precomputed-suggestion
        background-color: #eee
        strong
            text-transform: uppercase

    .filter
        &-wrapper
            position: relative
        &-label
            font-size: 16px
            margin: 0 0 0 20px
            text-transform: uppercase
            .glyphicon
                padding-right: 5px
        &-type
            float: right
            cursor: pointer
            font-weight: normal
            margin: 0 10px 0 0
            &:first-child
                margin-right: 0
            input
                cursor: inherit
        &-remove-icon
            cursor: pointer
            margin-top: -7px
            position: absolute
            left: 6px
            top: 50%

    .form-control.search-bar
        height: 36.5px
        text-transform: uppercase


// Playlist page
.playlist
    .playlist-date *:focus
        outline: none

    .has-comment
        padding-bottom: 30px
        position: relative
        .fake-comment-row
            display: block

    .fake-comment-row
        position: absolute
        display: none
        left: 0
        right: 0
        bottom: 0
        height: 36px
        input
            width: 100%

    .action-buttons
        padding-bottom: 20px

    .loader
        animation: spin 1s infinite linear
        margin-left: 10px
        vertical-align: middle

// Album editor page
.album-editor
    .album input
        padding: 7px 7px
    .track
        margin-bottom: 8px

        > .column-fid > div > input
            display: inline-block

            &:first-child
                width: 70%
                text-align: right
            &:last-child
                width: 30%

        .input-sm
            padding: 4px 4px

    .dropdown-suggestion-text em
        font-style: normal
        font-weight: bold

@keyframes spin
    from
        transform: rotate(0deg)
    to
        transform: rotate(360deg)

@import print
