// @import bootstrap

.filter
    &-wrapper
        position: relative
    &-label
        font-size: 16px
        margin: 0
    &-type
        font-weight: normal
        margin: 5px 10px 0 0
        &:last-child
            margin-left: 0
    &-remove-icon
        position: absolute
        right: 6px
        top: 8px
