{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="well">
        <legend>Register</legend>
        <fieldset>
            <form class="form-horizontal" action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">
                {{ form_widget(form) }}
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="submit" id="_submit" name="_submit" value="Register" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </fieldset>
    </div>
</div>
